<% features.forEach((feature, ii) => { %>
  <li style="order:${(ii + 2) * 3}" data-index="${ii}">
    <% if (ii) { %>
      <span class="filter-itinerary--distance"><%= +distance(features[ii].geometry.coordinates, features[ii - 1].geometry.coordinates).toFixed(1) %>km / <%= +distance(features[ii].geometry.coordinates, features[ii - 1].geometry.coordinates, 'nmi').toFixed(1) %>nm</span>
    <% } %>
    <label data-gid="${feature.properties.gid}" data-index="${ii}" draggable="true">
      <span>${[].concat(feature.properties.name || [], feature.properties.gid).join(' ')}</span>
    <% if (feature.properties.importance_sector) { %>
      <br><small>${feature.properties.importance_sector.toFixed(2)} / ▲${110 - feature.properties.importance_10_sector * 10}% (Sector ${feature.properties.aims_sector})</small>
    <% } %>
    </label>
    <button data-action="remove-feature" data-index="${ii}">&times;</button>
  </li>
<% }) %>