<% itineraries.forEach((itinerary, i) => { %>
  <input name="itinerary-toggle" id="itinerary-toggle-${i}" data-action="toggle" data-index="${i}" type="radio" class="hidden toggle-next">
  <div class="filter-itinerary--item">
    <input placeholder="Itinerary #${i + 1} title" title="Edit title" data-action="title" data-index="${i}" value="${itinerary.title}">
    <div class="filter-itinerary--dates">
      <input type="date" data-action="date-from" data-index="${i}" value="${itinerary.dates[0]}" placeholder="yyyy-mm-dd">➞<input type="date" data-action="date-to" data-index="${i}" value="${itinerary.dates[1]}" placeholder="yyyy-mm-dd" pattern="\d{4}-\d{2}-\d{2}">
    </div>
    <ol data-index="${i}">
      <%= templates.features({ features: itinerary.features, distance }) %>
    </ol>
    <div class="filter-itinerary--options" data-count="${itinerary.features.length}">
      <button data-action="remove" data-index="${i}">Remove itinerary</button>
    </div>
  </div>
  <div class="header">
    <label class="filter-itinerary--label" for="itinerary-toggle-${i}">
    <% if (itinerary.title) { %>
      ${itinerary.title}
    <% } else { %>
     Itinerary #${i + 1}
    <% } %>
   </label>
 </div>
<% }) %>